html {
  font-family: 'Open Sans', sans-serif;
}

.body {
  margin: 0;
  padding: 0;
}

.header {
  height: 100px;
}

h1 {
  font-size: 3.5745rem;
}

h1, h2, h3, ul, copyright, a {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Droid Serif', serif;
}

.grey {
  color: #b3b7b7;
}

.teal-background {
  background-color: #6dcad0;
}

.teal {
  color: #6dcad0;
}

.black {
  background-color: #000;
}

.img {
  width: 100%;
}

.rel {
  overflow: hidden;
  position: relative;
}

.title {
  color: #000;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(105%);
  transition: all 0.2s ease;
  text-align: center;
  background: rgba(0,0,0,0.4);
  margin-bottom: 0.15em;
}

.rel:hover .title {
  transform: translateY(0);
}

.rel .img {
  width: inherit;
  height: inherit;
}

.rel .img img {
  max-width: 100%;
}

.space {
  margin-bottom: -0.28em;
}

.icons {
  width: 10%;
}

.icons:hover {
  opacity: .5;
}

.logo {
  margin-left: 1em;
}

.black {
  background-color: #000;
}

.height {
  height: 250px;
}

.height-2 {
  height: 175px;
}

.height-3 {
  height: 300px;
}

.size {
  height: 100px;
}

.first {
  height: 300px;
}

.drawings {
  height: 250px;
}

.letters {
  height: 250px;
}

.banner {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("../images/logo-sketches.jpg") center center / cover no-repeat;
  padding-bottom: .75em;
}

.banner-1 {
  padding: calc(2.3em + 23vw) 0 0;
  background: url("../images/banner-1.svg") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-2 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("../images/print-photo.jpg") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-3 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("../images/subway.jpg") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-4 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("../images/oreo.jpg") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-5 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("../images/type-title.jpg") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-6 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("../images/on-the-run-banner.jpg") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-7 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("http://placehold.it/1920x1080") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-8 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("http://placehold.it/1920x1080") center center / cover no-repeat;
  padding-bottom: 1em;
}

.sun {
  position: absolute;
  top: -65px;
}

.sun-2 {
  position: absolute;
  top: 400px;
}

.sun-3 {
  position: absolute;
  top: 575px;
}

.rell {
  position: relative;
}

.illustration {
  background: url("../images/background-texture.svg") center center / cover no-repeat;
  padding-bottom: 8em;
  position: absolute;
  top: 115px;
  width: 100%;
}

@media only screen and (min-width: 22em) {

  .illustration {
    top: 140px;
  }

  .sun-3 {
    top: 600px;
  }
}

@media only screen and (min-width: 25em) {

  .me {
    width: 60%;
  }

  .height {
    height: 400px;
  }

  .height-2 {
    height: 250px;
  }

  .height-3 {
    height: 400px;
  }

  .sun {
    top: -90px;
  }

  .illustration {
    top: 140px;
  }

  .sun-2 {
    top: 380px;
  }

  .sun-3 {
    top: 610px;
  }
}

@media only screen and (min-width: 30em) {

  .sun {
    top: -160px;
  }

  .illustration {
    top: 260px;
  }

  .sun-2 {
    top: 600px;
  }

  .sun-3 {
    top: 1010px;
  }

  .drawings {
    height: 400px;
  }

  .letters {
    height: 300px;
  }

  .height-2 {
    height: 350px;
  }

  .first {
    height: 500px;
  }
}

@media only screen and (min-width: 40em) {

  .me {
    width: 60%;
  }

  .height {
    height: 400px;
  }

  .height-2 {
    height: 425px;
  }

  .height-3 {
    height: 600px;
  }

  .icons {
    width: 8%;
  }

  .drawings {
    height: 500px;
  }

  .letters {
    height: 450px;
  }

  .padd {
    padding-left: 3em;
    padding-right: 3em;
  }
}

@media only screen and (min-width: 60em) {

  .me {
    width: 100%;
  }

  .height {
    height: 550px;
  }

  .height-2 {
    height: 500px;
  }

  .height-3 {
    height: 600px;
  }

  .icons {
    width: 4%;
  }

  .sun {
    top: -220px;
  }

  .sun-2 {
    top: 805px;
  }

  .sun-3 {
    top: 1350px;
  }

  .illustration {
    top: 350px;
  }

  .drawings {
    height: 700px;
  }

  .letters {
    height: 500px;
  }

  .padd {
    padding-left: 5em;
    padding-right: 5em;
  }

  .size {
    height: 125px;
  }
}

@media only screen and (min-width: 80em) {

  .me {
    width: 80%;
  }

  .height {
    height: 1000px;
  }

  .height-2 {
    height: 800px;
  }

  .height-3 {
    height: 1200px;
  }

  .sun {
    top: -340px;
  }

  .sun-2 {
    top: 930px;
  }

  .sun-3 {
    top: 1720px;
  }

  .illustration {
    top: 435px;
  }

  .drawings {
    height: 900px;
  }

  .letters {
    height: 600px;
  }

  .padd {
    padding-left: 7em;
    padding-right: 7em;
  }

  .size {
    height: 150px;
  }
}


@media only screen and (min-width: 90em) {

  .sun {
    top: -350px;
  }

  .sun-2 {
    top: 1021px;
  }

  .sun-3 {
    top: 1900px;
  }

  .illustration {
    top: 440px;
  }

  .height-3 {
    height: 1700px;
  }

  .size {
    height: 225px;
  }

  .padd {
    padding-left: 12em;
    padding-right: 12em;
  }
}

@media only screen and (min-width: 110em) {

  .sun {
    top: -530px;
  }

  .sun-2 {
    top: 1650px;
  }

  .sun-3 {
    top: 3000px;
  }

  .illustration {
    top: 860px;
  }
}
