html {
  font-family: 'Open Sans', sans-serif;
}

.body {
  margin: 0;
  padding: 0;
}

.header {
  height: 100px;
}

h1 {
  font-size: 3.5745rem;
}

h1, h2, h3, ul, copyright, a {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Droid Serif', serif;
}

.grey {
  color: #b3b7b7;
}

.teal-background {
  background-color: #6dcad0;
}

.teal {
  color: #6dcad0;
}

.img {
  width: 100%;
}

.rel {
  overflow: hidden;
  position: relative;
}

.title {
  color: #000;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(105%);
  transition: all 0.2s ease;
  text-align: center;
  background: rgba(0,0,0,0.4);
  margin-bottom: 0.15em;
}

.rel:hover .title {
  transform: translateY(0);
}

.rel .img {
  width: inherit;
  height: inherit;
}

.rel .img img {
  max-width: 100%;
}

.space {
  margin-bottom: -0.28em;
}

.icons {
  width: 10%;
}

.icons:hover {
  opacity: .5;
}

.logo {
  margin-left: 1em;
}

.black {
  background-color: #000;
}

.height {
  height: 250px;
}

.banner {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("http://placehold.it/1920x1080") center center / cover no-repeat;
  padding-bottom: .75em;
}

.banner-1 {
  padding: calc(2.3em + 23vw) 0 0;
  background: url("../images/banner-1.svg") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-2 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("http://placehold.it/1920x1080") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-3 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("../images/subway.jpg") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-4 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("../images/oreo.jpg") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-5 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("http://placehold.it/1920x1080") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-6 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("http://placehold.it/1920x1080") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-7 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("http://placehold.it/1920x1080") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-8 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("http://placehold.it/1920x1080") center center / cover no-repeat;
  padding-bottom: 1em;
}

@media only screen and (min-width: 25em) {

  .me {
    width: 60%;
  }

  .height {
    height: 400px;
  }
}

@media only screen and (min-width: 40em) {

  .me {
    width: 60%;
  }

  .height {
    height: 400px;
  }

  .icons {
    width: 8%;
  }
}

@media only screen and (min-width: 60em) {

  .me {
    width: 100%;
  }

  .height {
    height: 550px;
  }

  .icons {
    width: 4%;
  }
}

@media only screen and (min-width: 80em) {

  .me {
    width: 80%;
  }

  .height {
    height: 1000px;
  }
}
