html {
  font-family: 'Oswald', sans-serif;
}

.body {
  margin: 0;
  padding: 0;
}

.header {
  height: 100px;
}

h1 {
  font-size: 3.5745rem;
}

h1, h2, h3, ul, copyright, a {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Droid Serif', serif;
}

.white {
  color: #fff;
}

.white-background {
  background-color: #fff;
}

.grey {
  color: #b3b7b7;
}

.teal-background {
  background-color: #6dcad0;
}

.teal {
  color: #6dcad0;
}

.img {
  width: 100%;
}

.rel {
  overflow: hidden;
  position: relative;
}

.title {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(105%);
  transition: all 0.2s ease;
  text-align: center;
  background: rgba(0,0,0,0.4);
  margin-bottom: 0.15em;
}

.rel:hover .title {
  transform: translateY(0);
}

.rel .img {
  width: inherit;
  height: inherit;
}

.rel .img img {
  max-width: 100%;
}

.space {
  margin-bottom: -0.28em;
}

.icons {
  width: 10%;
}

.icons:hover {
  opacity: .5;
}

.logo {
  margin-left: 1em;
}

.letters-2 {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.features {
  height: 100%;
}

.half {
  height: 15%;
}

.banner {
  padding: calc(3.2em + 32vw) 0 0;
  background: url("../images/background-logo.jpg") center center / cover no-repeat;
  padding-bottom: .75em;
}

.banner-1 {
  padding: calc(2.3em + 23vw) 0 0;
  background: url("../images/zombie-banner.svg") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-2 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("../images/print-photo.jpg") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-3 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("../images/subway.jpg") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-4 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("../images/oreo.jpg") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-5 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("../images/type-title.jpg") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-6 {
  padding: calc(2.5em + 25vw) 0 0;
  background: url("../images/on-the-run-banner.jpg") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-7 {
  padding: calc(3.2em + 32vw) 0 0;
  background: url("../images/allert-banner.svg") center center / cover no-repeat;
  padding-bottom: .75em;
}

.banner-8 {
  padding: calc(3em + 30vw) 0 0;
  background: url("../images/photography-banner.jpg") center center / cover no-repeat;
  padding-bottom: 1em;
}

video {
  width: 100%;
}

.vid-2 {
  width: 100%;
}

.vid {
  width: 100%;
  overflow: hidden;
}

.box {
  position: relative;
}

.butt {
  margin: 0;
}

.but {
  border-style: solid;
  border-color: #fff;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.col {
  top: 100px;
}

.mid {
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 25em) {

  .me {
    width: 60%;
  }

  .size {
    width: 40%;
  }
}

@media only screen and (min-width: 40em) {

  .me {
    width: 60%;
  }

  .size {
    width: 40%;
  }

  .icons {
    width: 8%;
  }

  .padd {
    padding-left: 3em;
    padding-right: 3em;
  }
}

@media only screen and (min-width: 60em) {

  .me {
    width: 100%;
  }

  .size {
    width: 80%;
  }

  .icons {
    width: 4%;
  }

  .padd {
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media only screen and (min-width: 80em) {

  .me {
    width: 80%;
  }

  .size {
    width: 60%;
  }

  .padd {
    padding-left: 7em;
    padding-right: 7em;
  }
}

@media only screen and (min-width: 90em) {

  .padd {
    padding-left: 12em;
    padding-right: 12em;
  }
}

@media only screen and (min-width: 110em) {

  .me {
    width: 50%;
  }

  .size {
    width: 30%;
  }

  .vid-2 {
    height: 1200px;
  }
}
