<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Eryn Jones</title>
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <meta name="handheldfriednly" content="true">
  <meta name="mobileoptimized" content ="240">
  <meta name="viewport" content="width=device-width,intial-scale-1">
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<header id="top" class="teal-background">
    <a href="index.html"><img class="pad-t-1-2 push-1-2 icons logo" src="images/logo.svg" alt="Eryn Jones"></a>
</header>

<main>
  {{content}}
</main>

<footer class="teal-background island text-center">
  <a href="mailto:eryn.jones16@hotmail.com"><img class="icons" src="images/email.svg" alt="icon of mail"></a>
  <a href="https://github.com/erynjones"><img class="icons" src="images/github.svg" alt="icon of github"></a>
  <a href="https://www.behance.net/ErynJ"><img class="icons" src="images/behance.svg" alt="icon of behance"></a>
  <p>©2016 Eryn Jones. All Rights Reserved Privacy Policy • Terms of Use</p>
  <a href="#top"><img class="push-1-2 icons" src="images/logo.svg" alt="Eryn Jones"></a>
</footer>

</body>
</html>
