<!DOCTYPE html>
<html lang="en-ca" class="fonts-loaded">
<head>
  <meta charset="utf-8">
  <title>Eryn Jones • Portfolio</title>
  <meta name="twittercard" content="summary">
  <meta name="twitter:site" content="@ntymebits">
  <meta property="og:title" content="Eryn Jones • Portfolio">
  <meta property="og:type" content="website">
  <meta property="og:url" content="erynjones.ca">
  <meta property="og:image" content=" ">
  <meta name="description" content="Hi! I am Eryn Jones a designer, illustrator, and photography living in Ottawa.">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <meta name="handheldfriednly" content="true">
  <meta name="mobileoptimized" content ="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Oswald:300,400,700" rel="stylesheet">
  <link href="{{site.baseurl}}/images/favicon.ico" rel="shortcut icon">
</head>
<body>

<ul class="skip-links">
  <li><a href="#main">Jump to main content</a></li>
</ul>

  <main role="main" id="main">
    {{content}}
  </main>

</body>
</html>
