<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Eryn Jones • Portfolio</title>
  <meta name="twittercard" content="summary">
  <meta name="twitter:site" content="@ntymebits">
  <meta property="og:title" content="Eryn Jones • Portfolio">
  <meta property="og:type" content="website">
  <meta property="og:url" content="erynjones.ca">
  <meta property="og:image" content=" ">
  <meta name="description" content="Hi! I am Eryn Jones a designer, illustrator, and photography living in Ottawa.">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <meta name="handheldfriednly" content="true">
  <meta name="mobileoptimized" content ="240">
  <meta name="viewport" content="width=device-width,intial-scale-1">
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<header itemref="data-author" itemscope itemtype="https://schema.org/WebSite" id="top" class="teal-background head-2">
    <a itemprop="url" href="{{site.baseurl}}/index"><img class="pad-t-1-4 push-1-4 icons logo" src="{{site.baseurl}}/images/eryn-jones.svg" alt="Eryn Jones"></a>
</header>

  {{content}}

<footer  id="data-author" itemprop="author" itemscope itemtype="https://schema.org/Person" class="teal-background island text-center footer-2">
  <a itemprop="email" href="mailto:eryn.jones16@hotmail.com"><img class="icons" src="{{site.baseurl}}/images/email.svg" alt="mail"></a>
  <a itemprop="url" href="https://github.com/erynjones"><img class="icons" src="{{site.baseurl}}/images/github.svg" alt="github"></a>
  <a itemprop="url" href="https://www.behance.net/ErynJ"><img class="icons" src="{{site.baseurl}}/images/behance.svg" alt="behance"></a>
  <p>©2016 <span itemprop="name">Eryn Jones.</span> All Rights Reserved • Privacy Policy • Terms of Use</p>
  <a itemprop="url" href="#top"><img class="push-1-2 icons" src="{{site.baseurl}}/images/eryn-jones.svg" alt="Eryn Jones"></a>
</footer>

</body>
</html>
